<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.enise.bitirme_2">

    <permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application tools:ignore="ExtraText"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/application_label"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-99NRffwvYNWfROFtGC3x6gX0ve6WBzI" />
        <activity
            android:name="controllers.user.Register"
            android:theme="@style/Theme.Bitirme_2" />
        <activity
            android:name="controllers.pages.Main"
            android:theme="@style/Theme.Bitirme_2"
            />
        <activity android:name="controllers.pages.ChatPage"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Bitirme_2_Chat"/>
        <activity android:name="controllers.pages.MessageInfo"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.user.UserProfil"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.user.ProfilSettings"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.course.CourseUpload"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.course.CourseEdit"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.pages.SearchResultPage"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.pages.DetailFiltering"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.user.ForgotPassword"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.pages.CodeControl"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity android:name="controllers.user.Login"
            android:theme="@style/Theme.Bitirme_2"/>
        <activity
            android:name="controllers.pages.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Bitirme_2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>