<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.enise.bitirme_2">

    <permission android:name="android.permission.INTERNET"/>
    <application tools:ignore="ExtraText"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-99NRffwvYNWfROFtGC3x6gX0ve6WBzI" />
        <activity
            android:name="controllers.Register"
            android:theme="@style/Theme.Bitirme_2" />
        <activity
            android:name="controllers.Main"
            android:theme="@style/Theme.Bitirme_2" />
        <activity
            android:name="controllers.Maps"
            android:theme="@style/Theme.Bitirme_2" />
        <activity android:name="controllers.ChatPage"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Bitirme_2_Chat"/>
        <activity
            android:name="controllers.Login"
            android:exported="true"
            android:theme="@style/Theme.Bitirme_2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>